* {
    font-family: 'Roboto', sans-serif;
}

span {
    display: block;
    font-weight: 400;
    margin: 0 0 15px 0;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 100;
}

.activitiesContainer {
    width: 48%;
    float: left;
}

.jokesContainer {
    width: 48%;
    float: left;
}

.activity {
    width: 90vw;
}